html body {
    margin: 0;
    padding: 0;
}

.navarea {
	background-color: #4256f4;
    position: fixed;
    top: 0;
    width: 100vw;
}

.navarea img {
    max-width: 80vw;
    max-height: 25vh;
    display:block;
    margin: auto;
    margin-bottom: 3vh;
}

.navarea li {
	display: inline-block;
    color: #8e0909;
    background-color: #ff2a2a;
    border-style: solid;
    border-color: #8e0909;
    border-width: 5px;
}

.navarea li:hover {
    background-color: #ff0000;
}

.navarea li a {
	color: inherit;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    margin: 10px;
}

.navarea ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    padding-bottom: 14px;
    margin-right: 2px;
	display: flex;
    justify-content: space-around;
}

.bodytitle h1 {
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 50px;
}
.bodytext p {
    font-family: "Times New Roman", "Times", serif;
    font-size: 20px;
}
